@font-face {
    font-family: Libre Basrkeville;
    src: url(../recursos/fonts/LibreBaskerville-Bold.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,300&family=Quattrocento:wght@400;700&display=swap');

.logo-vivesimple{
    width: 5%;
}
#navegacion{
    font-family: Libre Basrkeville;
    position: sticky;
    top: 0px;
    z-index: 1000;
    max-width: 100vw;
    .seccion-menu{   
    ul{
        display: flex;
        list-style: none;
        justify-content: flex-end;
        align-content: flex-end;
        flex-wrap: wrap;
        min-height: 60px;
        border-bottom: #B08968 solid 3px;
    }
            a{
                text-decoration: none;
                color: #B08968;
                &:hover{
                    background-color: #B08968;
                    border-radius: 5px;
                    color: rgba(255, 255, 255, 0.976);
                    padding: 3px;
                }
            }
        } 
}

#carouselExample img {
    height: 500px;
    margin: auto;
    max-width: 100vw;
}

.destacados{
    div{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 400px);
    }
    img{
        border: #B08968 solid 5px;
        padding: 5px;
        width: 250px;
        height: 250px;
        margin: auto;
    }
    .destacado1 {
        margin-top: 80px;
    }
    .destacado2 {
        margin-top: 80px;
    }
    .titulo {
        display: flex;
        align-items: flex-start;
        font-family: Libre Basrkeville;
        color: black;
        background-color: #FAEDCD;
        flex-wrap: wrap;
        align-content: space-around;
        justify-content: flex-start;
        flex-direction: column;
        padding-top: 25px;
        padding-bottom: 25px;
        font-size: x-large;
        margin-top: 100px;
    }
} 
.suscripcion{
    background-image: url(/recursos/Diseño_sin_título.jpg);
    max-width: 100vw;
    height: 300px;
    border-top: #B08968 solid 5px;
    border-bottom: #B08968 solid 5px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    p{
        font-size: xx-large;
        color: rgb(0, 0, 0);
        padding: 5px;
        border-radius: 5px;
    }
    button{
        width: 200px;
        padding: 5px;
        color: #060400;
        background-color: #B08968;
        border: #B08968;
    }
    input{
            width: 600px;
            height: 40px;
            border: #B08968 solid 2px;
            margin-bottom: 15px;
        }
    }



@media (max-width: 800px){
    .nav{
        ul{
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
        }
    }
    #carouselExample{
       display: none;
    }
    .destacados{
        .titulo{
            font-size: medium;
            width: 100vw;
        }
        img{
            display: grid;
            grid-column: 1;
            margin: 50%;
            margin-bottom: 30px;
        }
    }
   
    .suscripcion{
        background-image: none;
        max-width: 100vw;
        height: 300px;
        border: #FAEDCD solid 2px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        p{
            font-size: large;
            text-align: center;
        }
        button{
            width: 100vw;
        }
        input{
                width: 100vw;
            }
        }

    .footer{
        width: 100vw;
    }
    .footer .texto {
        color: black;
        font-family: 'Quattrocento', serif;
        font-size: xx-small;
        font-weight: bold;
        padding-top: 30px;
    }
    .contactanos {
        margin-top: 30px;
        color: black;
        font-size: small;
        font-weight: bold;
        text-decoration: underline;
        font-family: 'Quattrocento', serif;
    }
    
    .mailcontacto {
        margin-top: 30px;
        font-family: 'Quattrocento', serif;
        font-size: small;
    }
    
    .carrito {
        margin: 0px;
    }
   
}